body {
  background: #222;
}

.bounce {
  width: 100vw;
  height: 80vh;
}

.button-group {
  width: 400px;
  margin: 20px auto;
  button {
    font-family: 'Montserrat', sans-serif;
    min-width: 80px;
    border: none;
    padding: 8px 16px;
    background: #444;
    color: white;
    border-radius: 3px;
    outline: 0;
    cursor: pointer;
  }
}
