<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Learn Vue.js</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="dist/main.css">
</head>

<body>
  <div class="container">
    <div id="app">
      <div class="row">
        <!-- v-model will bind to the property of the object returned by the data function -->
        <!-- the .numer modifier converts the input to an int, without it would be a string -->
        <input type="number" v-model.number="num1" />
        <span>+</span>
        <input type="number" v-model.number="num2" />
        <span>=</span>
        <!-- the template has access to the properties of the data() return object like so -->
        <span>{{ num1 + num2 }}</span>
      </div>
      <div class="row second">
        <select v-model="name">
          <option>Carne Asada</option>
          <option>Pollo</option>
          <option>Bean</option>
          <option>Al Pastor</option>
        </select>
        <p v-if="name">My favorite kind of taco is Al Pastor</p>
      </div>

      <pre> {{ $data }}</pre>
    </div>

    <script src="dist/app.bundle.js"></script>
</body>

</html>
